*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

main{
  width: 100%;
  display: flex;
  background-color: #F7F9FC;
}

.nav{
  background-color: #293042;
  color: white;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
}

.title_nav{
  margin-top: 40px;
  height: 200px;
}

.title_nav h1{
  display: flex;
  justify-content: center;
}

.img_nav{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.img_nav p{
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-left: 20px;
}

.img_nav img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.content_nav{
  height: 450px;
}

.content_nav a{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  margin-top: 30px;
  text-decoration: none;
  color: white;
}

.logout_nav p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.nav_part2{
  width: 83%;
}

.content_part2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-size: 22px;
}

.search i{
  font-size: 20px;
}

.search input{
  padding: 5px;
  width: 200px;
}

.title_dash{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.title_dash p{
  font-size: 40px;
  font-weight: bolder;
}


.card_dash{
  display: flex;
  justify-content: space-around;
  padding-top: 45px;
}

.card{
  display: flex;
  background-color: white;
  padding: 25px 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card img{
  width: 80px;
  margin-right: 20px;
}

.card_con p{
  font-size: 25px;
}

.stati{
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

.stat1,
.stat2,
.stat3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.stat1{
  border: 6px solid #C44636;
}

.stat2{
  border: 6px solid #1DC9B7;
}

.stat3{
  border: 6px solid #5EC473;
}

.stat1, 
.stat2,
.stat3 p{
  font-size: 22px;
}

.stat1 p:first-child, 
.stat2 p:first-child,
.stat3 p:first-child{
  margin-bottom: 10px;
}

/* Page de Professeur */
.title_dashboard{
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.title_dashboard p{
  font-size: 40px;
  font-weight: bolder;
}

.title_dashboard button{
  padding: 8px 50px;
  border: none;
  background-color: #293042;
  color: white;
  border-radius: 10px;
  font-size: 18px;
}


table{
  width: 90%;
  margin-left: 40px;
  border: 1px solid black;
  border-bottom: none;
  font-size: 18px;
}

.head_tab th{
  background: #293042;
  color: white;
  text-align: left;
}

th,
td{
  border-bottom: 1px solid #000;
  padding: 8px 12px;
}

/* Css De Form Modal */
.countainer{
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0px;
  display: flex;
  justify-content:center;
  align-items:center;
  display:none;
}

.child{
  border-radius:15px;
  background:white;
  top: 0;
  left: 0;
  width: 450px;
  height: 550px;
  display: flex;
  flex-direction: column;
  position:relative;
  box-shadow: 0 0 20px 0px rgb(124, 112, 112);
}

.title,
.btn_group{
  display: flex;
  justify-content: center;
}

.title{
  margin: 30px 0 15px 0;
}

.btn_group{
  margin-top: 20px;
}

.input{
  padding: 12px;
  margin: 0 80px;
}

.input input{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.457);
}

.btn_group button:first-child{
  background-color: #7C7070;
  border: none;
  padding: 8px 28px;
  border-radius: 5px;
  margin-right: 25px;
  font-size:  16px;
}

.btn_group button:last-child{
  background-color: #293042;
  color: white;
  border: none;
  padding: 5px 35px;
  border-radius: 5px;
  margin-left: 15px;
  font-size:  16px;
}


.link{
  text-decoration: none;
  color: black;
}

/* Page Sign In */
.container_signin{
  width: 100%;
  height: 100vh;
  display: flex;
}

/* .part1_signin{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.head_signin{
  width: 100%;
  margin-left: 80px;
  line-height: 50px;
}

.form_sign1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_sign1 input{
  width: 50%;
  border: none;
  border-bottom: 3px solid #293042;
  background-color: #F8F0F0;
  margin-bottom: 25px;
  height: 30px;
  padding: 9px 0 5px 9px;
}

.form_sign1 input::placeholder{
  font-size: 15px;
}

.form_sign1 button{
  width: 120px;
  padding: 5px;
  border: none;
  background-color: #293042;
  color: white;
  border-radius: 5px;
}


.head_signin p{
  font-size: 30px;
}

.head_signin p:last-child{
  font-size: 40px;
  font-weight: 600;
}

.part1_ftr{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  width: 50%;
}

.hr-text:before {
  content: '';
  background: black;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: white;
  } */

.part1_signin{
  width: 50%;
  height: 100vh;
}

.head_signin{
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
  line-height: 50px;
}

.head_signin p{
  font-size: 30px;
}

.head_signin p:last-child{
  font-size: 40px;
  font-weight: 600;
}

.form_sign1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_sign1 input{
  width: 50%;
  border: none;
  border-bottom: 3px solid #293042;
  background-color: #F8F0F0;
  margin-bottom: 25px;
  height: 30px;
  padding: 15px 0 12px 10px;
}

.form_sign1 input::placeholder{
  font-size: 15px;
}

.form_sign1 button{
  width: 120px;
  padding: 5px;
  border: none;
  background-color: #293042;
  color: white;
  border-radius: 5px;
}

.part1_ftr{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  width: 50%;
}

.hr-text:before {
  content: '';
  background: black;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  background-color: white;
}

.part2_ftr{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.part2_ftr img:first-child{
  margin-right: 50px;
}

.part2_ftr img:last-child{
  margin-left: 50px;
}

.part2_signin{
  width: 50%;
  background-color: #F8F0F0;
}

.part2_signin img{
  width: 90%;
}